<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Classification</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Upload an Audio File</h1>
    <div id="drop-area">Drag and drop audio file here or click to select</div>
    <form id="file-form" action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" id="fileElem" name="file" accept="audio/*" onchange="submitForm()">
        <label for="fileElem">Upload and Predict</label>
    </form>
    <div id="prediction-result" style="display:none;">
        <h2 id="prediction-text">Prediction: </h2>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
